<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="io.github.fengyueqiao.marscenter.infrastructure.tunnel.database.DeployVersionTunnel">
    <sql id="ALL_COLUMNS">
        id,
        app_id,
        file_name,
        tgz_name,
        version,
        is_file_deleted,
        md5sum,
        creator,
        created_time,
        modified_time,
        is_deleted
    </sql>

    <sql id="COMMON_SELECT">
        SELECT
        <include refid="ALL_COLUMNS"/>
        FROM mars_deploy_version
    </sql>

    <insert id="create" useGeneratedKeys="true" keyProperty="id" parameterType="DeployVersionDO">
        INSERT INTO mars_deploy_version(
            <include refid="ALL_COLUMNS"/>
        ) VALUES (
        null,
        #{appId},
        #{fileName},
        #{tgzName},
        #{version},
        #{isFileDeleted},
        #{md5sum},
        #{creator},
        UNIX_TIMESTAMP(),
        UNIX_TIMESTAMP(),
        0
        )
    </insert>

    <delete id="delete" parameterType="map">
        UPDATE
            mars_deploy_version
        SET
            is_deleted = 1,
            modifier = #{modifier},
            modified_time = UNIX_TIMESTAMP()
        WHERE
            id = #{id} AND IS_DELETED = 0
    </delete>

    <select id="listByAppId" resultType="DeployVersionDO" parameterType="map">
        <include refid="COMMON_SELECT"/>
        WHERE app_id = #{appId} AND IS_DELETED = 0
    </select>

    <select id="getById" resultType="DeployVersionDO" parameterType="map">
        <include refid="COMMON_SELECT"/>
        WHERE id = #{id}
    </select>

</mapper>