<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.fengyueqiao.marscenter.dao.database.TemplateTunnel">

    <sql id="ALL_COLUMNS">
        id,
        name,
        content,

        created_time,
        modified_time,
        is_deleted
    </sql>

    <insert id="create" parameterType="TemplateDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO mars_template_info(
        <include refid="ALL_COLUMNS"/>
        ) VALUES (
        null,
        #{name},
        #{content},

        UNIX_TIMESTAMP(NOW(3)) *1000,
        UNIX_TIMESTAMP(NOW(3)) *1000,
        0
        )
    </insert>

    <update id="update" parameterType="TemplateDO">
        UPDATE mars_template_info SET modified_time = UNIX_TIMESTAMP(NOW(3)) *1000
        <if test="name != null">
            ,name = #{name}
        </if>
        <if test="content != null">
            ,content = #{content}
        </if>
        where id = #{id} and is_deleted = 0
    </update>

    <select id="list" parameterType="string" resultType="TemplateDO">
        SELECT
            id,
            name
        FROM mars_template_info
        WHERE is_deleted = 0
        <if test="name != null">
            AND name like CONCAT('%',#{name},'%')
        </if>
    </select>

    <select id="getByName" parameterType="string" resultType="TemplateDO">
        SELECT
        <include refid="ALL_COLUMNS"/>
        FROM mars_template_info
        WHERE is_deleted = 0
        AND name = #{name}
    </select>

    <select id="getById" parameterType="string" resultType="TemplateDO">
        SELECT
        <include refid="ALL_COLUMNS"/>
        FROM mars_template_info
        WHERE is_deleted = 0
        AND id = #{id}
    </select>

    <delete id="delete" parameterType="map">
        UPDATE mars_template_info SET is_deleted = UNIX_TIMESTAMP(NOW(3)) *1000
        WHERE is_deleted = 0
        AND id = #{id}
    </delete>

</mapper>